name: CI

on:
  pull_request:
  push:
    branches: [main]

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          package-manager-cache: false
      - run: corepack enable
      - run: yarn --version
      - run: yarn install --immutable
      - run: yarn lint
      - run: yarn build
